# Ignore bundler config.
/.bundle

# Ignore the database.
/db/*.sqlite3*
/data

# Ignore all logfiles and tempfiles.
**/*.log
**/log

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore chart files
/chart/charts
chart/*.lock